.boards {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  overflow-y: scroll;
}

.boards::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.boards::-webkit-scrollbar-track {
  background-color: #e8e8e8;
}
.boards::-webkit-scrollbar-thumb,
.boards::-webkit-scrollbar-thumb:hover,
.boards::-webkit-scrollbar-thumb:active {
  background: #a7a7a7;
}
.boards::-webkit-scrollbar-button {
  display: none;
}
